<li class="country">
        <img
                src="{{flags.png}}"
                alt="flag"
                width="30"
                height="20"
              />
        <p class="country__name">{{name.common}}</p>
      </li>